.alert-container {
    z-index: 9999;
    position: fixed;
    top: 15rem;
    width: max-content;
    max-width: 50vw;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;

    font-size: 15rem;
    background-color: white;
    padding: 10rem 15rem;
    border-radius: 10rem;
    
    animation: fadeIn 0.5s ease-out;
}

.alert-container.fade-out {
    animation: fadeOut 0.5s ease-out;
}

@keyframes fadeIn {
    from {
        transform: translateY(-200%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-200%);
        opacity: 0;
    }
}

.alert-container {
    transition: transform 0.5s ease-out, opacity 0.5s ease;
}

.alert-container strong,
.alert-container p {
    width: max-content;
    font-size: inherit;
}

.alert-container strong {
    text-wrap: nowrap;
    font-weight: 700;
}

.alert-container p {
    text-wrap: wrap;
    text-align: justify;
}